<ul class="nav nav-pills bg-primary">
    <li class="nav-item dropdown">
        <a class="nav-link bg-primary text-light" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            <span class="material-symbols-outlined">
                list
            </span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Lists</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </li>
</ul>
<main class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center">
        <h1 class="text-primary">Weekly Grocery List</h1>
    </div>
    {{#each items as |item|}}
    {{> groceries-each check=../list}}
    {{/each}}
    <div class="mt-5">
        <div class="btn-group dropup">
            <button type="button" class="btn rounded-5 btn-secondary shadow-lg" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" id="addNewItem">Add new Item</a></li>
                <li><a class="dropdown-item" href="#" id="addNewUser">Add new User</a></li>
                <li><a class="dropdown-item" href="#">Menu item</a></li>
            </ul>
        </div>
    </div>
    </div>
</main>

<script src="groceries.js"></script>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />