@keyframes something {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }

    50% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    } 

    100% {
        opacity: 0;
        height: 0px !important;
        line-height: 0px;
    }
}

.everycard {
    overflow: hidden;
    animation-name: something;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
